<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Blog" type="com.cyl.blog.controller.index.model.Blog"/>
        <typeAlias alias="BlogVo" type="com.cyl.blog.controller.index.model.BlogVo"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/BlogMapper.xml"/>
    </mappers>
</configuration>