<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Blog" type="com.cyl.blog.entity.Blog"/>
        <typeAlias alias="BlogVo" type="com.cyl.blog.controller.index.model.BlogVo"/>
        <typeAlias alias="Option" type="com.cyl.blog.entity.Option"/>
        <typeAlias alias="Category" type="com.cyl.blog.entity.Category" />
        <typeAlias alias="User" type="com.cyl.blog.entity.User"/>
        <typeAlias alias="CommentVO" type="com.cyl.blog.vo.CommentVO" />
        <typeAlias alias="Comment" type="com.cyl.blog.entity.Comment" />
        <typeAlias alias="Tag" type="com.cyl.blog.entity.Tag"/>
        <typeAlias alias="Upload" type="com.cyl.blog.backend.vo.Upload"/>
        <typeAlias alias="UploadVO" type="com.cyl.blog.backend.vo.UploadVO"/>
        <typeAlias alias="Link" type="com.cyl.blog.backend.vo.Link"/>
        <typeAlias alias="VisitInfo" type="com.cyl.blog.entity.VisitInfo"/>
        <typeAlias alias="VisitInfo2" type="com.cyl.blog.entity.VisitInfo2"/>
        <typeAlias alias="BlogV1" type="com.cyl.blog.entity.BlogV1"/>
        <typeAlias alias="BlogContent" type="com.cyl.blog.entity.BlogContent"/>
    </typeAliases>
    <!--<mappers>-->
        <!--<mapper resource="mappers/BlogMapper.xml"/>-->
    <!--</mappers>-->
</configuration>